<h3 class="store-name">{{store.name | default('No store listed') }}</h3>
<table>
    <tr>
        <th>Item</th>
        <th>Still needed</th>
        <th>Required</th>
        <th>Purchased</th>
        <th>Notes</th>
    </tr>
    {% for eachIngredient in store.ingredients %}
	<tr>
	    <td> {{eachIngredient.name}} </td>
        <td> <strong>
            {% if eachIngredient.quantityStillNeeded > 0 %}
                {{eachIngredient.quantityStillNeeded}} {{eachIngredient.unit}} 
            {% endif %}  
        </strong></td>
	    <td> {{eachIngredient.quantityRequired}} {{eachIngredient.unit}}</td>
        <td> {{eachIngredient.quantityPurchased}} {{eachIngredient.unit}}</td>
	    <td> {{eachIngredient.notes}} <td>
	</tr>
    {% endfor %}
</table>
