{% extends "base.html" %}
{% block content %}	

<h1> Grand Canyon Packing List </h1>
<p>Generated {{time}}</p>

    {% for container in containers %}
    <h3>{{container.name}}</h3>
    <table>
        {% for item in container.itemList %}
            <tr>
                <td>{{item.quantity}} {{item.unit}} {{item.name}}</td>
                <td>{{item.buyStore}}</td>
                <td>{{item.notes}}
                
            </tr>
        {% endfor %}
    </table>
    {% endfor %}

{% endblock %}

	


